@page "/counter"
@rendermode InteractiveServer

<PageTitle>banana</PageTitle>

<h1>Bananas</h1>

<p role="status">Contagem de pegadas na bananas: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Pegar na banana</button>

@code {
    private int currentCount = 100;

    private void IncrementCount()
    {
        currentCount+=10;
    }
}
